{% load heroicons site_tags %}

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:py-16 md:px-8">
    <div class="space-y-4 md:space-y-0 md:grid md:grid-cols-4 md:gap-6 md:mx-auto xl:mx-0">
      {% for tier in content.tiers %}
        <div class="card card--none">
          <div class="p-6 border-b border-gray-200">
            <h2 class="text-3xl font-extrabold text-indigo-900">
              {{ tier.name }}
            </h2>
            <p class="mt-4 text-base text-gray-600">{{ tier.description }}</p>
            <p class="mt-4 text-3xl font-bold text-gray-900">
              {% if tier.name in 'Free|Open source' %}
                It's free
              {% elif tier.name == 'Enterprise' %}
                Get in touch
              {% else %}
                ${{ tier.price }}<span class="text-sm font-normal text-gray-600"> per month</span> 
              {% endif %}
            </p>
            {% if tier.name == 'Free' %}
              {% if request.GET.iframe %}
                <a target="_parent" href="{% url 'teams:detail' request.GET.team_id|add:"0" %}" class="mt-6 button button--tertiary">Continue</a>
              {% else %}
                <a
                  href="{% url 'account_signup' %}"
                  class="mt-6 button button--secondary"
                >
                  Sign up
                </a>
              {% endif %}
            {% elif tier.name == 'Pro' %}
              <div class="flex items-center gap-4 mt-6">
                {% if request.GET.iframe %}
                  <a target="_parent" disabled class="button button--secondary">
                    Upgrade to Pro
                  </a>
                {% else %}
                  <a
                    href="{% url 'account_signup' %}"
                    class="button button--secondary"
                  >
                    Try for free
                  </a>
                {% endif %}
              </div>
            {% else %}
              <a
                target="_parent"
                href="{% external_url 'github' %}"
                class="mt-6 button button--primary"
              >
                Talk to us
              </a>
            {% endif %}
          </div>
          <div class="pt-6 pb-8 px-6">
            <h3 class="text-xs font-normal text-gray-900 tracking-wide uppercase">
              {{ tier.includedHeader }}
            </h3>
            <ul class="mt-6 space-y-4">
              {% for feature in tier.includedFeatures %}
                <li class="flex space-x-3 text-indigo-900">
                  {% heroicon 'check-circle' class="flex-shrink-0 h-5 w-5" %}
                  <span class="text-sm text-gray-600">{{ feature|safe }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>