{% extends 'web/base.html' %}

{% block body %}
<div class="w-full">
  <nav class='p-6 border-b border-gray flex items-center gap-4'>
    <a href="/learn" class="flex-1">
      <h2>
        <span class="text-indigo-600">
          Gyana
        </span>
        <span class="text-gray-700" style="font-weight: 100;">
          Learn
        </span>
      </h2>
    </a>
    <input type="search" class="input input--sm flex-2" placeholder="Search...">
    </input>
    <a href="{% url 'web:home' %}" class="flex-1 text-right p-2">
      Go to app
    </a>
  </nav>
  <div class="bg-white flex">
    <nav class="w-96 flex flex-col p-8 gap-4 border-r border-gray">
      {% for post in learnpages %}
        {% with post=post.specific %}
          <a class="link" href="{{ post.get_url }}">
            {{ post.title }}
          </a>
        {% endwith %}
      {% endfor %}
    </nav>
    <div class="flex-1"></div>
  </div>
</div>
{% endblock %}