Django
analytics-python
attrs
backoff
celery[redis]
coreapi
django-admin-tools
django-allauth
django-anymail[mailgun]
django-clone
django-dirtyfields
django-filter
django-heroku
django-hijack
django-invitations
django-storages[google]
django-tables2
django-turbo-allauth
django-turbo-response
djangorestframework
google-api-python-client
google-cloud-bigquery
gunicorn
hashids
honeybadger
honeycomb-beeline
ibis-bigquery
inflection
lark
pandas
pathvalidate
psycopg2-binary
PyYAML
celery-progress
git+https://github.com/paddle-python/dj-paddle#8945137c9ff70ae00d519625f81b10d1bc6bf071
django-celery-beat
django-celery-results
django-cryptography
git+https://github.com/geoffbeier/django-heroicons#acbd344230689ab2cde4c20d7f0f597ef8795ad0
django-redis
django-safedelete
django-silk
django-timezone-field
django-waffle
fuzzywuzzy
git+https://github.com/martyzz1/heroku3.py#81c996929e37450e1e65f28eb43fc28533a79048
jsonpath-ng
pytest-mock
python-Levenshtein
readtime
wagtail
wagtailmenus
django-cacheops
django-simple-history
google-cloud-language
plotly