<div 
  data-controller='popover'
  data-theme='popover-menu'
  data-placement='bottom-start'
>
  <button 
    class='button button--tertiary button--sm w-full' 
    data-popover-target='trigger'
    type='button'
  >
    <i class="fa {{widget.selected.icon}}"></i> {{widget.selected.name}} <i class="fas fa-angle-down"></i>
  </button>
  <div data-popover-target="body" class='flex flex-col'>
    {% for option in options %}
      <label 
        for="{{option.id}}" 
        class='list__item list__item--interactive gap-2'
        {% if option.disabled %}disabled{% endif %}
      >
        <i class="fa {{option.icon}}"></i> {{option.name}}
        <input name="{{widget.name}}" type='radio' value="{{option.id}}" class='hidden'
          {% if option=widget.selected %}checked{% endif %}
        ></input>
      </label>
    {% endfor %}
  </div>
</div>