

<div
  id='dateslicers:update-stream'
  class='dateslicer'
  {% comment %} data-controller='popover'
  data-placement='bottom-start'
  data-theme='popover-dateslicer' {% endcomment %}
>
  <button >
    <i class="fa fa-calendar"></i> 
    {% if object.date_range != "custom" %}

      {{object.get_date_range_display}}

    {% else %}

      {% if object.start %}Start <strong>{{object.start}}</strong>{% endif %}
      {% if object.end %}End <strong>{{object.end}}</strong>{% endif %}

    {% endif %}
  </button>
  {% comment %} <template data-popover-target="body"> {% endcomment %}
    <div class='dateslicer-popover'>
      <form 
        id="dateslicer-update-form"
        method="post" action="{% url 'dateslicers:update' object.id %}" 
        class="form--no-layout popover-body"
        data-controller="live-update"

      >
        <span data-live-update-target="loading" class="hidden">
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-fw fa-2x"></i>
        </span>

        {% csrf_token %}

        {% comment %}TODO: Add data-live-update-ignore to the start and end input  {% endcomment %}
        {% include "django/forms/default_form.html" %}

        <button type="submit" class="button button--success button--sm"
          name="submit" value="submit"
          >Apply</button>
      </form>
  </div>
  {% comment %} </template> {% endcomment %}
  {% include 'dateslicers/delete.html' %}
</div>

