{% extends "web/app/project_base.html" %}
{% load static %}

{% block app %}
<div class="workflow-detail__header">
  <h3 class="flex-1 mr-auto">
    Schedule
  </h3>

  <form method="post">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <div class='dndflow__run-button'>
      <button type="submit" class='button button--sm button--success'>
        <i class='fas fa-fw fa-play'></i> Run workflows in order
      </button>
    </div>
  </form>
</div>

<div class="flex flex-1 overflow-hidden">
  <div class="w-full dndflow">
    <schedule-flow class="w-full" projectId="{{ project.id }}"></schedule-flow>
  </div>
</div>
<script src="{% static "js/schedule-bundle.js" %}"></script>
<link rel="stylesheet" href="{% static "css/schedule.css" %}" />
{% endblock %} 