{% load heroicons %}

<div class="bg-gray-20 border-b border-gray">
  <div>
    <div class="max-w-7xl mx-auto text-left py-16 px-4 sm:py-20 sm:px-6 lg:px-8 grid grid-cols-2">
      <div>
        <h2 class="text-2xl lg:text-3xl text-caveat text-indigo-600">
          Careers
        </h2>
        <h3 class="mt-4 text-3xl  font-extrabold text-gray-900">
          Help us empower the 99.6%
        </h3>
        <p class="mt-4 text-lg text-gray-600 max-w-3xl">
          Despite the massive impact of data on our lives, most of us are stuck with
          spreadsheets and pre-built reports. The lack of high quality, no-code data tools
          is wasting billions of hours in productivity.
        </p>

        <p class="mt-4 text-lg text-gray-600 max-w-3xl">
          <strong>We're working on this problem.</strong> Every day, we tackle
          a unique set of challenges in data, software and design, while
          collaborating side-by-side with thousands of Gyana customers.
        </p>

        <p class="mt-4 text-lg text-gray-600 max-w-3xl">
          If you enjoy working with motivated peers, collaborating to solve challenging problems,
          and changing how we work with data, we’d love to hear from you.
        </p>

        <a href="{% url 'web:integrations' %}" class="mt-4 button">
          <span class="mr-2">Get in contact</span>
          {% heroicon 'external-link' class="w-5 h-5" style="solid" %}
        </a>
      </div>
    </div>
  </div>
</div>