{% extends "projects/settings_base.html" %}
{% load static %}
{% load help_utils crispy_forms_tags %}

{% block app %}
  <div class="page-header">
    <h1 class="flex items-center gap-3 mr-auto">
      CSV Upload

      {% link_article 'integrations' 'upload' %}
      {% link_video 'upload' %}
    </h1>
  </div>

  <div class="upload-csv">
    <form
      method="POST"
      action="{{ request.get_full_path }}"
      class="upload-csv__form"
      enctype="multipart/form-data"
      style="background: none; border: none;"
      x-init="SiteJS.base.FilePond.create($el.querySelector('input[type=file]'))"
    >
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>

{% endblock %}
