{% load static %}

<fieldset name="{{ widget.name }}"
  x-data="{search: null, initial: [], options: []}"
  x-init="initial = (await SiteJS.base.Api.getApiClient().action(
    window.schema,
    ['tables', 'api', 'tables', 'list'],
    { dashboard: 6 }
  )).results"
  >

  <div>Used in this project</div>

  <template x-for="option in initial" :key="option.id">
    {% include 'django/forms/widgets/table_select_item.html' %}
  </template>

  <div>Search</div>

  {% comment %} TODO: Re-focus the search bar when there is a value {% endcomment %}

  <input x-model="search"
    type="text"
    placeholder="Search for tables in integrations or workflows..."
    @input.debounce="options = (await SiteJS.base.Api.getApiClient().action(
      window.schema,
      ['tables', 'api', 'tables', 'list'],
      { project: 1, ...(search !== null && search !== '' ? {search}: {}) }
    )).results"
  >

  <template x-for="option in options" :key="option.id">
    {% include 'django/forms/widgets/table_select_item.html' %}
  </template>
</fieldset>