{% extends "web/base.html" %} {% load static %}
<!-- -->
{% block body %}
<!--  -->
{% block notifications %}{% endblock %}
<section class="section">
  <div class="container">
    <div id="app-content">
      {% if object.project %}
      <span class="text-sm">
        <a href="{% url 'projects:detail' object.project.id %}"
          >{{object.project.name }}</a
        >
        >
        <a
          href="{% url 'projects:tab' object.project.id request.resolver_match.app_name %}"
          >{{ request.resolver_match.app_name|title }}</a
        >
      </span>
      {% endif %}
      <!--  -->
      {% block app %} {% endblock %}
    </div>
  </div>
</section>
{% endblock body %}
