{% extends "web/base.html" %}
{% load static %}
{% load team_tags %}

{% block banner %}
  {% if team and team.warning %}
  <div class="banner banner--warning">
    <p>
      You're exceeding your row count limit.
      <a href="{% url 'teams:account' team.id %}" class="text-white font-bold underline"> Learn more <i class="fas fa-fw fa-arrow-right fa-sm"></i></a>
    </p>
  </div>
  {% endif %}

  {% if team and not team.enabled %}
  <div class="banner banner--danger">
    <p>
      You've exceeded your row count limit by over 20%, your team is
      temporarily disabled. <a href="{% url 'teams:account' team.id %}" class="text-white font-bold underline"> Learn more <i class="fas fa-fw fa-arrow-right fa-sm"></i></a>
    </p>
  </div>
  {% endif %}
{% endblock %}

{% comment %} 
{% block secondary_sidebar %}
<div class="sidebar">
  <div class="sidebar__body">
    <div class="sidebar__link">
      <a title="View your teams" href="{% url 'web:home' %}">
        <img src="{% static 'images/logo.png' %}">
      </a>
    </div>

    <li><hr></li>

    {% for user_team in request.user.teams.all %}
    <li>
      <a class="sidebar__link {% if user_team.id == team.id %}sidebar__link--active{% endif %}"
        href="{% url 'teams:detail' user_team.id %}"
        title="{{ user_team.name }}">
        {% if user_team.icon %}<img src="{{ user_team.icon.url }}" />{% else %}<span class="team_logo">{{ user_team.name|slice:1|capfirst }}</span>{% endif %}{{ user_team.name }}
      </a>
    </li>
    {% endfor %}

    <li>
      <a id="sidebar-newteam" class="sidebar__link {% if request.resolver_match.app_name == 'teams' and request.resolver_match.url_name == 'create' %}sidebar__link--active{% endif %}" title="New Team" href="{% url 'teams:create' %}">
        <i class="fas fa-fw fa-plus mr-6"></i>New Team
      </a>
    </li> 
  </div>
</div>
{% endblock %} {% endcomment %}

{% block sidebar_content %}
<div class="sidebar__header">
  <div class="flex-1" data-controller="tf-modal">
    <a
      id="heading"
      data-action="click->tf-modal#open"
      data-src="{% url 'teams:list' %}"
    >
      {% if team.icon %}
      <img src="{{ team.icon.url }}" />
      {% else %}
      <span class="team_logo">{{ team.name|slice:1 }}</span>
      {% endif %}

      <span>{{ team.name }}</span>
    </a>

    <div data-tf-modal-target="modal" class="tf-modal tf-modal--auto hidden">
      <div class="card card--none card--modal flex-col flex-1 overflow-auto">
        <turbo-frame 
          id="teams:list"
          data-tf-modal-target="turboFrame"
        ></turbo-frame>
      </div>
    </div>
  </div>

  <div data-controller="tf-modal">
    <a
      id="heading"
      data-action="click->tf-modal#open"
      data-src="{% url 'users:profile' %}"
    >
      <img src="{{ user.avatar_url }}" />
    </a>

    <div data-tf-modal-target="modal" class="tf-modal tf-modal--auto hidden">
      <div class="card card--none card--modal flex-col flex-1 overflow-auto">
        <turbo-frame 
          id="users:profile"
          data-tf-modal-target="turboFrame"
        ></turbo-frame>
      </div>
    </div>
  </div>
</div>

{% if team.recent_objects|length %}
<h4 class="sidebar__title">Recent</h4>

  {% for object in project.recent_objects %}
  <li>
    <a
      class="sidebar__link {% if request.path == object.get_absolute_url %}sidebar__link--active{% endif %}"
      href="{{ object.get_absolute_url }}"
    >
      <i class="far fa-fw {{ object.icon }}"></i>{{ object.name }}
    </a>
  </li>
  {% endfor %}
{% endif %}

<h4 class="sidebar__title">Projects</h4>

{% for project in team.project_set.all %}
<li>
  <a
    class="sidebar__link {% if request.resolver_match.kwargs.project_id == project.id %}sidebar__link--active{% endif %}"
    href="{% url 'projects:detail' project.id %}"
  >
    <i class="far fa-fw fa-folders"></i>{{ project.name }}
  </a>

  {% if request.resolver_match.kwargs.project_id == project.id %}
  <a
    class="sidebar__link {% if 'project_integrations' in request.resolver_match.app_name %}sidebar__link--active{% endif %}"
    href="{% url 'project_integrations:list' project.id %}"
  >
    <i class="far fa-fw fa-database"></i>Integrations
  </a>

  <a
    class="sidebar__link {% if request.resolver_match.app_name == 'project_workflows' %}sidebar__link--active{% endif %}"
    href="{% url 'project_workflows:list' project.id %}"
  >
    <i class="far fa-fw fa-sitemap"></i>Workflows
  </a>

  <a
    class="sidebar__link {% if request.resolver_match.app_name == 'project_dashboards' %}sidebar__link--active{% endif %}"
    href="{% url 'project_dashboards:list' project.id %}"
  >
    <i class="far fa-fw fa-chart-pie"></i>Dashboards
  </a>

  <a
    class="sidebar__link {% if request.resolver_match.view_name == 'projects:update' %}sidebar__link--active{% endif %}"
    href="{% url 'projects:update' project.id %}"
  >
    <i class="far fa-fw fa-cog"></i>Settings
  </a>
  {% endif %}
</li>
{% endfor %}

<li>
  <a
    class="sidebar__link {% if request.resolver_match.view_name == 'team_projects:create' %}sidebar__link--active{% endif %}"
    href="{% url 'team_projects:create' team.id %}"
  >
    <i class="far fa-fw fa-plus"></i>New project
  </a>
</li>
{% endblock %}

{% block body %}
{% block notifications %}{% endblock %}

<section class="flex flex-col flex-1 overflow-hidden {% block app-class %}{% endblock %}">
  {% block app %}{% endblock %}
</section>
{% endblock body %}
