{% extends 'web/site_base.html' %}
{% load static site_tags %}

{% block meta %}
<title>About | Gyana</title>
<meta name="description" content="Learn about the team and mission behind Gyana and discover career opportunities." /> 
{% endblock %}

{% block body.content %}

<div class="bg-gray-20">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h1 class="my-12 sm:my-24 text-7xl lg:text-8xl text-caveat text-indigo-600">
      About Gyana
    </h1>
    {% comment %} <h1 class="text-2xl lg:text-3xl text-caveat text-indigo-600">
      About Gyana
    </h1> {% endcomment %}

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="mt-6 text-gray-600 mx-auto flex flex-col gap-y-4 row-start-2 lg:row-start-1">
        <h2 class="text-3xl font-extrabold text-gray-900">
          We built Gyana to save you time
        </h2>
        <p class="text-lg text-gray-600">
          Only 0.4% of the world can code. The rest of us struggle against the
          limitations of traditional reporting tools, or wait for weeks on the engineering
          team. It's frustrating and stops real work happening.
        </p>
        <p class="text-lg text-gray-600">
          <strong>That's why we built Gyana.</strong> Gyana is designed for making
          custom<sup class="text-indigo-600 text-caveat text-xl">1</sup> reports,
          for any<sup class="text-indigo-600 text-caveat text-xl">2</sup> data source,
          without writing code.
        </p>
        <p class="text-lg text-gray-600">
          You get the flexibility of code, with the usability of traditional reporting.
          Whatever report you want to build, you can build it with Gyana, without waiting on someone else.
        </p>
        <p class="text-xl text-caveat text-indigo-600">
          <sup>1</sup> actually custom
          <sup class="ml-4">2</sup> yes, we really mean any
        </p>
      </div>
      <div class="mt-auto mb-auto card card--sm row-start-1">
        {% include 'web/site/about/venn.html' %}
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-20 border-b border-gray">
  <div>
    <div class="max-w-7xl mx-auto text-left py-16 px-4 sm:py-20 sm:px-6 lg:px-8 flex flex-col gap-y-4">
      <div class="grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-3">
        <p>
          <span class="block text-4xl font-bold text-gray-900">5K+</span>
          <span class="mt-1 block text-base text-gray-600"><span class="font-medium text-gray-900">Customers</span> trust us</span>
          <span class="mt-2 block text-xl text-indigo-600 text-caveat">Our community of no-code data analysts</span>
        </p>

        <p>
          <span class="block text-4xl font-bold text-gray-900">50K+</span>
          <span class="mt-1 block text-base text-gray-600"><span class="font-medium text-gray-900">Custom reports</span> built</span>
          <span class="mt-2 block text-xl text-indigo-600 text-caveat">Millions of hours saved</span>
        </p>

        <p>
          <span class="block text-4xl font-bold text-gray-900">2B+</span>
          <span class="mt-1 block text-base text-gray-600"><span class="font-medium text-gray-900">Rows of data</span> synced</span>
          <span class="mt-2 block text-xl text-indigo-600 text-caveat">Designed to scale</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="relative bg-white border-b border-gray">
  <div class="relative max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:mr-auto md:w-1/2 md:pr-10 flex flex-col gap-y-4">
      <h1 class="text-2xl lg:text-3xl text-caveat text-indigo-600">
        Our team
      </h1>
      <h2 class="text-gray-900 text-3xl font-extrabold">We’ve built hundreds of reports</h2>
      <p class="text-lg text-gray-600">
        Gyana was founded by graduate students at the University of Oxford.
        Engineers turned enterpreneurs, co-founders
        <strong>David Kell
          <a class="hover:text-indigo-600" href="{% external_url 'david_twitter' %}" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="hover:text-indigo-600" href="{% external_url 'david_linkedin' %}" target="_blank"><i class="fab fa-linkedin"></i></a>
        </strong>
        and
        <strong>Joyeeta Das
          <a class="hover:text-indigo-600" href="{% external_url 'joyeeta_twitter' %}" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="hover:text-indigo-600" href="{% external_url 'joyeeta_linkedin' %}" target="_blank"><i class="fab fa-linkedin"></i></a>
        </strong>
        had a vision to build a product that made it easier for non-technical people to work with data.
      </p>
      <p class="text-lg text-gray-600">
        <strong>We understand what it takes to make a great report.</strong>
        Our reports have driven investment decisions, expansion planning and marketing strategy
        for the most demanding global enterprises.
      </p>
    </div>
  </div>
  <div class="relative h-56 bg-indigo-600 sm:h-72 md:absolute md:right-0 md:top-0 md:h-full md:w-1/2">
    <img class="filter grayscale w-full h-full object-cover" src="{% static 'images/site/about/cofounders.jpeg' %}" alt="">
    <div class="absolute bg-indigo-600 opacity-25 w-full h-full top-0"></div>
  </div>
</div>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-8 sm:px-6 lg:py-16 lg:px-0">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-y-8">
      {% for logo in content.investors|slice:":6" %}
        <div class="flex justify-center">
          <img class="logo w-full" src="{% static 'images/site/investors/'|add:logo|add:'.svg' %}" />
        </div>
      {% endfor %}
    </div>
    <p class="mt-12 text-gray-600 text-center">
      Backed by top VCs and angel investors across the US and Europe.
    </p>
  </div>
</div>

{% endblock %}