{% load static django_htmx %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta %}
      {% include "web/components/meta.html" %}
    {% endblock %}
    {% include "web/components/favicon.html" %}

    {% comment %} Only load Poppins to use for our Logo {% endcomment %}
    <link rel="preconnect" href="//fonts.gstatic.com" />
    <link
      href="//fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap&text=Gyana"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}" />
    <link rel="stylesheet" href="{% static "css/tailwind.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

    <script src="{% static 'js/htmx@1.8.5.min.js' %}" defer></script>
    {% django_htmx_script %}

    <script src="//unpkg.com/alpinejs" defer></script>

    <link
      href="//fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static "css/website.css" %}" />

    {% if WEBSITE_GTM_ID %}
      {% include "web/components/gtm_head.html" %}
    {% endif %}

  </head>

  <body>
    {% block body %}
      {% include "web/site/header.html" %}

      {% block body.content %}{% endblock body.content %}

      {% include "web/site/footer.html" %}
    {% endblock body %}

    {% if WEBSITE_GTM_ID %}
      {% include "web/components/gtm_body.html" %}
    {% endif %}
  </body>
</html>
