{% extends 'web/site_base.html' %}
{% load static site_tags heroicons %}

{% block meta %}
<title>Integrations | Gyana</title>
<meta name="description" content="Gyana has 80+ out-of-the-box connectors with online business apps, marketing tools, databases and custom APIs." /> 
{% endblock %}

{% block body.content %}

<style>
  {% for group in services_grouped %}
    .integrations-{{ forloop.counter0 }} {
      animation: {{ group.animation }}s linear 0s infinite normal none running slide;
    }
    @keyframes slide {
      100% {
        transform: translateX(-40%);
      }
    }
  {% endfor %}
</style>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="my-12 sm:my-24 text-7xl lg:text-8xl text-caveat text-indigo-600">Integrations</p>
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
      Yes, we integrate with that.
    </h2>
    <p class="mt-4 text-lg text-gray-600 max-w-3xl">
      Gyana has integrations for most popular online sources. After a one-time setup, we'll sync your raw data, daily.
      <strong>Need something custom?</strong> We can integrate any new source in 2 weeks.
    </p>
    <div class="mt-4 mb-12 flex justify-center gap-4 sm:justify-start">
      <div class="flex flex-col gap-2 text-lg items-center">
        <a href="#get-started" class="button button--secondary w-44 sm:w-48 flex gap-2 text-sm sm:text-base">
          View integrations
          {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
        </a>
        <p class="text-xs lg:text-sm text-gray-600">One click setup</p>
      </div>
      <div class="flex flex-col gap-2 text-lg items-center">
        <a href="{% external_url 'talk_to_us' %}" class="button w-44 sm:w-48 text-sm sm:text-base">
          Talk to us
        </a>
        <p class="text-xs lg:text-sm text-gray-600">We'll setup your integration</p>
      </div>
    </div>
  </div>
</div>

<div id="get-started" class="bg-white border-b border-gray overflow-hidden">
  <div class="max-w-7xl mx-auto -my-3" style="max-width: 120rem;">
    <div class="relative flex flex-col justify-center">
      <div class='fade-left'></div>
      <div class='flex flex-col gap-4 overflow-hidden'>
        {% for group in services_grouped %}
          <div class="flex gap-2 integrations-{{ forloop.counter0 }}">
            {% for service in group.services %}
              <span class='inline-flex items-center gap-2 flex-none px-2 py-1 rounded-lg text-sm font-normal bg-indigo-100 text-gray-800'>
                <img class='h-4 w-4' src={% static 'images/integrations/fivetran/'|add:service.icon_path %} />
                {{ service.name }}
              </span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class='fade-right'></div>
    </div>
  </div>
</div>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-32 lg:px-8 flex flex-col">
    {% comment %} <p class="text-2xl lg:text-3xl text-caveat text-indigo-600 mb-2">1 minute</p> {% endcomment %}
    <div>
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
        Connect your business
      </h2>
      <p class="mt-4 text-lg text-gray-600 max-w-3xl">
        Import data from the applications you use to run your business.
      </p>
    </div>
    <turbo-frame id="web:search-integrations-demo">
      {% include 'web/demo/search_integrations.html' %}
    </turbo-frame>
  </div>
</div>

{% comment %} {% for item in content.basic %}
    <div class="flex flex-col items-center gap-4 p-4">
      <img class="w-24 h-24" src="{% static 'images/integrations/'|add:item.image %}" alt="">
      <div class="text-sm text-gray-600">{{ item.name }}</div>
    </div>
{% endfor %} {% endcomment %}

<div class="bg-white border-b border-gray">
  <div class="max-w-7xl mx-auto  py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-2xl lg:text-3xl text-caveat text-indigo-600 mb-2">Yes, we can do it</p>
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
      Native connectors
    </h2>
    <p class="mt-4 text-lg text-gray-600 max-w-3xl">
      Connect to most popular online sources out of the box, including apps, databases, webhooks and APIs.
      <strong>Need something custom?</strong> We can integrate any new source in 2 weeks.
    </p>

    <ul
      role="list"
      class="mt-6 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6"
    >
      {% for service in services.values %}
        <li>
          <div class="space-y-4">
            <img
              class="mx-auto h-20 w-20 lg:w-24 lg:h-24"
              src="{% static 'images/integrations/fivetran/'|add:service.icon_path %}"
              alt="{{ service.name }}"
            />
            <div class="space-y-2">
              <div class="text-xs font-medium lg:text-sm">
                <h3>{{ service.name }}</h3>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
