{% extends 'web/site_base.html' %}
{% load heroicons site_tags %}

{% block meta %}
<title>Pricing | Gyana</title>
<meta name="description" content="Custom reports for any source. Start building for free, then add a paid plan to scale your data volume." /> 
{% endblock %}

{% block body.content %}

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h1 class="my-6 sm:my-12 text-7xl lg:text-8xl font-bold text-caveat text-indigo-600">
      Pricing
    </h1>
    <p class="text-lg text-gray-600 max-w-3xl">
      Gyana packages offer multiple pricing options to suit your business needs, complete with the best-in-class support you deserve.
    </p>
  </div>
</div>

<div class="bg-white border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0">
      {% for tier in content.tiers %}
        <div class="card card--none divide-y divide-gray-200">
          <div class="p-6">
            <h2 class="text-3xl font-extrabold text-gray-900">
              {{ tier.name }}
            </h2>
            <p class="mt-4 text-base text-gray-600">{{ tier.description }}</p>
            <a
              href="{% external_url 'request_demo' %}"
              class="mt-8 button"
            >
              Request Demo
            </a>
          </div>
          <div class="pt-6 pb-8 px-6">
            <h3 class="text-xs font-normal text-gray-900 tracking-wide uppercase">
              {{ tier.includedHeader }}
            </h3>
            <ul class="mt-6 space-y-4">
              {% for feature in tier.includedFeatures %}
                <li class="flex space-x-3">
                  {% heroicon 'check' class="flex-shrink-0 h-5 w-5 text-green-500" style="solid" %}
                  <span class="text-sm text-gray-600">{{ feature|safe }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% if tier.mostPopular %}
            <div class="absolute top-6 -right-12 transform rotate-45 bg-indigo-100 text-indigo-900 text-2xl text-center p-2 w-48 text-caveat">Most popular</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-extrabold text-gray-900">
          Frequently asked questions
        </h2>
        <p class="mt-4 text-lg text-gray-600">
          Can’t find the answer you’re looking for? Reach out to us in the
          chat.
        </p>
      </div>
      <div class="prose prose-indigo text-gray-600 mx-auto mt-12 lg:mt-0 lg:col-span-2">
        {% for faq in content.faqs %}
          <h3>{{ faq.q }}</h3>
          <p class='text-base'>{{ faq.a }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}