<turbo-frame id='node-editable-title'>
  <div class="flex flex-row items-center">
    <i class='fad {{object.icon}} fa-3x text-blue mr-2'></i>
    <form 
      method="POST" 
      action="{% url 'nodes:name' object.id %}"
      data-controller="dispatch-on-node-name-update"
      data-dispatch-on-node-name-update-node-value="{{ object.id }}"
    >
    {% csrf_token %}
      <input 
        class='input__inline' 
        id="name" 
        type="text" 
        name="name"
        value="{% if object.name %}{{ object.name }}{% else %}{{ object.display_name|capfirst }}{% endif %}"
      ></input>
    </form>
  </div>
</turbo-frame>
