{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load static %}

{% block app %}
<div class="flex flex-1 items-center justify-center">
  <div class="flex flex-col items-left max-w-4xl">
    <header class="page-header">
      <div class="mr-auto">
        <h1>{{ project.name }}</h1>
        {% if project.description %}
        <p>{{ project.description }}</p>
        {% else %}
        <p class="italic opacity-50">
          No description provided,
            <a class="link" href="{% url 'projects:update' object.id %}">add one</a>
        </p>
        {% endif %}
      </div>
    </header>

    <section class="flex flex-col gap-7 pad">
      <div class="flex flex-col space-y-3">
        <div class="flex items-baseline gap-3">
          <h3>Integrations</h3>
          
          <p class="text-black-50">
            - <a class="link" href="{% url 'project_integrations:list' object.id %}">
                {{ integration_count|intcomma }} integration{{ integration_count|pluralize }}
              </a>
            - {{ project.num_rows|intcomma }} row{{ project.num_rows|pluralize }}
          </p>
        </div>

        <div class="card card--sm">
          <div class='flex flex-row items-center gap-3 flex-wrap'>
            {% for integration in connectors %}
              <span>
                <a href="{% url 'project_integrations:detail' object.id integration.id %}">
                  <img class="h-8 w-8" src="{% static integration.icon %}"/>
                </a>
              </span>
            {% endfor %}
            {% if sheet_count > 0 %}
              <span>
                <p class="text-black-50">
                  + <a class="link" href="{% url 'project_integrations:list' object.id %}?kind=sheet">
                    {{ sheet_count|intcomma }} sheet{{ sheet_count|pluralize }}
                  </a>
                </p>
              </span>
            {% endif %}
            {% if upload_count > 0 %}
              <span>
                <p class="text-black-50">
                  + <a class="link" href="{% url 'project_integrations:list' object.id %}?kind=upload">
                    {{ upload_count|intcomma }} upload{{ upload_count|pluralize }}
                  </a>
                </p>
              </span>
            {% endif %}
          </div>
        </div>

        <div class="card card--sm">
          {% if review_ready_integration_count %}
            <p class="text-black-50">
              <i class="fa fa-info-circle"></i>
              You have 1 pending integration ready to
                <a class="link" href="{% url 'project_integrations:pending' object.id %}">review</a>.
            </p>
          {% endif %}
        </div>


        {% comment %} <div class="card card--none">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
              <th>

              </th>
              <th>
                <i class="fa fas fa-check-circle text-green"></i>
                Operational
              </th>
                <th>
                <i class="fa fas fa-exclamation-triangle text-orange"></i>
                Needs attention
              </th>
                <th>
                
              </th>
              </tr>
              </thead>
            <tbody>
              <tr>
                <td><h4>Uploads</h4></td>
                <td class="flex flex-row items-center space-x-2 h-full">
                  <p>{{ upload_count }} x</p><img class="h-8 w-8" src="{% static 'images/integrations/upload.svg' %}"/>
                </td>
                <td>
                </td>
                <td>
                  <p>
                    <a class="link" href="{% url 'project_integrations_uploads:create' object.id %}">+ Add</a>
                  </p>
                </td>
              </tr>

              <tr>
                <td><p>Sheets</p></td>
                <td class="flex flex-row items-center space-x-2 h-full">
                  <p>{{ sheet_count }} x</p><img class="h-8 w-8" src="{% static 'images/integrations/sheet.svg' %}"/>
                </td>
                <td>
                </td>
                <td>
                  <p>
                    <a class="link" href="{% url 'project_integrations_uploads:create' object.id %}">+ Add</a>
                  </p>
                </td>
              </tr>

              <tr>
                <td><p>Connectors</p></td>
                <td class="flex space-x-1">
                  {% for integration in connectors %}
                    <img class="h-8 w-8" src="{% static integration.icon %}"/>
                  {% endfor %}
                </td>
                <td>
                </td>
                <td>
                  <p>
                    <a class="link" href="{% url 'project_integrations_connectors:create' object.id %}">+ Add</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div> {% endcomment %}

        {% comment %} <div class="card card--none">
          {% render_table integrations %}

          {% if integrations.rows|length == 0 %}
          <div class="table__empty">
            <p>This project has no integrations</p>
          </div>
          {% elif integrations.rows|length > 3 %}
          <div class="table__more">
            <small><a href="" class="link"> See more...</a></small>
          </div>
          {% endif %}
        </div> {% endcomment %}
      </div>

      <div>
        <div class="flex items-baseline gap-3 mb-3">
          <h3>Workflows</h3>
          
          <p class="text-black-50">
            - {{ workflows.rows|length }} workflow{{ workflows.rows|pluralize }}
            - {{ project.table_set.count|intcomma }} saved data
          </p>
        </div>

        <div class="card card--none">
          {% render_table workflows %}

          {% if workflows.rows|length == 0 %}
          <div class="table__empty">
            <p>This project has no workflows</p>
          </div>
          {% elif workflows.rows|length > 3 %}
          <div class="table__more">
            <small><a href="" class="link"> See more...</a></small>
          </div>
          {% endif %}
        </div>
      </div>

      <div>
        <h3 class="mb-3">Dashboards</h3>

        <div class="card card--none">
          {% render_table dashboards %}

          {% if dashboards.rows|length == 0 %}
          <div class="table__empty">
            <p>This project has no dashboards</p>
          </div>
          {% elif dashboards.rows|length > 3 %}
          <div class="table__more">
            <small><a href="" class="link"> See more...</a></small>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}