{% extends "web/app/app_base.html" %}
{% load humanize %}

{% block app-class%}project-list{% endblock %}

{% block app %}

<div class="flex items-center mb-4">
  <h1 class="mr-auto">Projects</h1>
</div>

<ul class="project-list__projects">
  {% for object in object_list %}
  <li>
    <div class="card card--custom">
      <div class="flex flex-1 justify-between p-7 pb-0">
        <a href="{% url 'projects:detail' object.pk %}" class="h3">{{ object }}</a>
      </div>

      <div class="tabbar">
        <a href="{% url 'projects:integrations:list' object.id %}"
           class="tabbar__link flex-1 tabbar__link--active">Integrations</a>
        <a href="{% url 'projects:integrations:list' object.id %}" class="tabbar__link flex-1">Workflows</a>
        <a href="{% url 'projects:integrations:list' object.id %}" class="tabbar__link flex-1">Dashboards</a>
      </div>

      <div class="pb-2">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Updated</th>
              <th>Created</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Something</td>
              <td>10.10</td>
              <td>10.11</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <hr>

      <div class="flex-1 pad">
        <span>Created {{ object.created|naturaltime }} | </span>
        <span>Updated {{ object.updated|naturaltime }}</span>
      </div> -->
    </div>
  </li>
  {% empty %}
  <li>
    <div class="card card-tertiary">
      <h3 class="mb-4">No projects found</h3>

      <p>Why not create one using the button to the right?</p>
    </div>
  </li>
  {% endfor %}
  <li>
    <a class="card card--sm card--primary card--center" href="{% url 'single_team:projects:create' team.slug %}">
      <i class="fas fa-plus mr-4"></i><strong>Create new Project</strong>
    </a>
  </li>
</ul>


{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'single_team:projects:list' team.slug %}?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url 'single_team:projects:list' team.slug %}?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %} {% endblock %}
