{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}

{% block app %}
<div class="flex flex-col flex-1 overflow-auto">
  <div class="max-w-lg pad">
    <h1 class="project-settings__title">Settings</h1>

    <form method="post" action="{% url 'projects:update' object.id %}" class="form">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--success button--filled">Save changes</button>
    </form>
  </div>
  <div class="pad mb-auto">
    {% if object.access == 'invite' %}
      <h2 class="mb-3">Members</h2>
      <div class="card card--none">
        {% render_table table %}

        <div class="pt-2 pad" data-controller='popover'>
          <button class='link'  data-popover-target='trigger' data-action="popover#trigger">
            <i class="fa fa-fw fa-plus mr-2"></i>Add member
          </button>
          <div data-popover-target='body' class='popover-body card card--sm max-w-lg'>
            Invite or uninvite members of your team to collaborate on this project.
            <form method='post' action="{% url 'projects:update_membership' object.id %}">
              {% csrf_token %}
              {% for user, is_member_already, is_current_user in team_members %}
                <div>
                  <input 
                    id="{{user.id}}" 
                    name="{{user.id}}" 
                    type="checkbox"
                    {% if is_current_user %}disabled{% endif %}
                    class="checkbox__hidden"
                    {% if is_member_already %}value='on' checked{% endif %}
                  ></input>
                  <label class="checkbox checkbox__enabled 
                    {% if is_current_user %}border-green-50 cursor-default{% endif %}" 
                    for="{{user.id}}"
                  >
                  <div class='flex flex-col'>
                    <span>
                      {% if user.first_name or user.last_name %}
                        {{user.first_name}} {{user.last_name}} - 
                      {% endif %}
                      {{user.username}}
                    </span>
                    <small>{{user.email}}</small>
                  </div>
                  </label>
                </div>
              {% endfor %}
              <div class='flex flex-row gap-2'>
                <button class='button button--outline button--success' type='submit'>
                  Invite
                </button>
                <button type='button' 
                  data-action='popover#trigger'
                  class='button button--outline button--tertiary'
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="pad border-t border-gray">
    <h2 class="mb-3">Delete project</h2>
    <p class="mb-3">If you'd like to <strong>delete</strong> this project, press the button below.</p>

    <a class="button button--danger"
      href="{% url 'projects:delete' object.id %}">
      Delete
    </a>
  </div>
</div>
{% endblock %}
