{% load render_table from django_tables2 %}

<div class="card card--none">
  {% render_table table %}

  <div class="pad pad--sm">
    <small>
      <a href="{% url 'team_appsumo:stack' team.id %}" class="link">
        <i class="fa fa-fw fa-plus mr-2"></i>Stack Code</a>
    </small>
  </div>
</div>

<div class="pad pad--sm">
  {% if not team.appsumoreview %}
  <small>
    <a href="{% url 'team_appsumo:review' team.id %}" class="link">
      <i class="fa fa-fw fa-plus mr-2"></i>Link to your review</a>
  </small>
  {% else %}
  <p>Thank you for writing an honest review! We've added <strong>1,000,000</strong> rows to say thank you.</p>
  {% endif %}
</div>
