{% extends 'integrations/base_setup.html' %}

{% block tab %}

<div class="pad flex flex-1 justify-center items-center">
  <div class='flex flex-col flex-1 max-w-3xl'>
    <h1 class="flex items-center justify-center gap-3 mb-7">Configure import</h1>
    <div class="flex flex-1 justify-center items-center">

      <form 
        id="configure-update-form"
        method="POST"
        action="{{ request.get_full_path }}"
        {% comment %} {% if object.kind == 'customapi' %} {% endcomment %}
        data-controller="live-update"
        data-action="
          formset:remove->live-update#updateForm 
          formset:add->live-update#updateForm 
          formset:remove->tf-modal#change 
          formset:add->tf-modal#change
        "
        enctype='multipart/form-data'
        {% comment %} {% endif %} {% endcomment %}
        >
        <span data-live-update-target="loading" class="hidden">
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-fw fa-2x"></i>
        </span>

        <p class="alert">
          If you're not sure about these options, you can start with the defaults and tweak them later.
          {% if object.kind == 'connector' %}
            You can also go back to the <a href="{{ object.connector.fivetran_authorization_url }}" class="link">authorization</a> page.
          {% endif %}
        </p>

        <div class="tabbar w-full">
          <a
            href="{% url "project_integrations:configure" project.id object.id %}?tab=tables"
            class="tabbar__link {% if request.GET.tab == 'tables' %}tabbar__link--active{% endif %}"
          >
            Tables
          </a>
          <a
            href="{% url "project_integrations:configure" project.id object.id %}?tab=reports"
            class="tabbar__link {% if request.GET.tab == 'reports' %}tabbar__link--active{% endif %}"
          >
            Reports
          </a>
        </div>

        {% csrf_token %}

        {% if request.GET.tab == 'tables' %}
          <p class="alert mb-4">
            A table is a list of records in your data source e.g. products or ads.
          </p>
        {% elif request.GET.tab == 'reports' %}
          <p class="alert mb-4">
            A report is a table derived from data source by a reporting API.
          </p>
        {% endif %}

        {% include "django/forms/default_form.html" %}

        <div class="flex flex-1 gap-7 w-full">
          <button type="submit" name="submit" value="Save" class="button button--outline button--success flex-1">
            Save
          </button>

          <button type="submit" name="submit" value="Save & Import" class="button button--success flex-1">
            Save & Import
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
