{% extends 'integrations/base_setup.html' %}
{% load waffle_tags cache %}

{% block tab %}

<div class="pad flex flex-1 justify-center items-center">
  <div class='flex flex-col flex-1 max-w-3xl'>
    <h1 class="flex items-center justify-center gap-3 mb-7">Configure import</h1>
    <div class="flex flex-1 justify-center items-center">

      <form 
        id="configure-update-form"
        method="POST"
        action="{{ request.get_full_path }}"
        {% if object.kind == 'customapi' or request.GET.tab == 'custom_reports' %}
        data-controller="live-update"
        data-action="
          formset:remove->live-update#updateForm 
          formset:add->live-update#updateForm 
          formset:remove->tf-modal#change 
          formset:add->tf-modal#change
        "
        enctype='multipart/form-data'
        {% endif %}
        >
        <span data-live-update-target="loading" class="hidden">
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-fw fa-2x"></i>
        </span>

        <p class="alert">
          If you're not sure about these options, you can start with the defaults and tweak them later.
          {% if object.kind == 'connector' %}
            {% cache 500 fivetran_authorization_url object.id %}
              You can also go back to the <a href="{{ object.connector.fivetran_authorization_url }}" class="link">authorization</a> page.
            {% endcache %}
          {% endif %}
        </p>

        {% csrf_token %}

        {% include "django/forms/default_form.html" %}

        <turbo-frame id="customreports:list" src="{% url 'connectors_customreports:list' object.connector.id %}">
        </turbo-frame>

        <div class="flex flex-1 gap-7 w-full">
          <button type="submit" name="submit" value="Save" class="button button--outline button--success flex-1">
            Save
          </button>

          <button type="submit" name="submit" value="Save & Import" class="button button--success flex-1" data-loading-message="Validiting setup...">
            Save & Import
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
