{% extends "integrations/base.html" %}

{% block tab %}
<div class="mb-auto pad">
    {% if request.GET.edit or integration.state == 'done' and integration.ready %}
        {% if integration.kind == 'sheet' %}
            <turbo-frame id="sheets:update" src="{% url 'sheets:update' integration.sheet.id %}"></turbo-frame>
        {% elif integration.kind == 'connector' %}
            <turbo-frame id="connectors:update" src="{% url 'connectors:update' integration.connector.id %}"></turbo-frame>
        {% endif %}
        {% if request.GET.edit %}
            <a class="button" href="{% url 'project_integrations:setup' object.project.id object.id %}">
                Back to review
            </a>
        {% endif %}
    {% elif integration.state == 'update' %}
        {% if integration.kind == 'connector' %}
            <turbo-frame id="connectors:update" src="{% url 'connectors:update' integration.connector.id %}"></turbo-frame>
        {% endif %}
    {% elif integration.state in 'load,error' %}
        {% if integration.kind == 'connector' %}
            <turbo-frame id="connectors:progress" src="{% url 'connectors:progress' integration.connector.id %}"></turbo-frame>
        {% elif integration.kind == 'sheet' %}
            <turbo-frame id="sheets:progress" src="{% url 'sheets:progress' integration.sheet.id %}"></turbo-frame>
        {% elif integration.kind == 'upload' %}
            <turbo-frame id="uploads:progress" src="{% url 'uploads:progress' integration.upload.id %}"></turbo-frame>
        {% endif %}
    {% elif integration.state == 'done' and not integration.ready %}
        <div class="flex flex-row flex-1 overflow-hidden">
            {% include "integrations/_data.html" %}
        </div>
        <div class="flex flex-row">
            <form method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
                {% csrf_token %}

                {% include "django/forms/default_form.html" %}

                <button type="submit" class="button button--success">
                    Approve
                </button>
            </form>
            <a class="button" href="{% url 'project_integrations:setup' object.project.id object.id %}?edit=true">
                Edit Config
            </a>
        </div>
    {% endif %}
</div>

{% endblock %}
